body {
  background:
     black;                     /* color */
}
h1 {
font-family: Verdana;
font-weight: normal;
font-size: 50px;
text-align: center;
color: white;
}

.Download {
font-size: 16px;
text-decoration: underline;
text-align: center;
color: Aquamarine;
}
.center { margin: 5 auto; width: 485px; }

h3 {
font-family: Verdana;
font-size: 42px;
font-weight: 300;
text-align: center;
color: white;
margin: 0;

}
p {
  font-family: Verdana;
  font-size: 21px;
  text-align: center;
  color: gray;

}
.example {
text-align: right;
margin: 1000;

 }
